/* TODO: */

/* 1. Define the height and display(flex) of Top Container */
/* 2. Define the size of left, center, right by using flex 12 scale */


.topbarContainer {
  height: 50px; width: 100%; background-color: #1877f2;
  display: flex; align-items: center;
  position: sticky; top: 0;
}

/* Left */
.topbarLeft {
  flex: 3;
}
.logo {
  font-size: 24px; font-weight: bold; color: white;
  margin-left: 20px; cursor: pointer;
}

/* Center */
.topbarCenter {
  flex: 5;
}

.searchbar {
  width: 100%; height: 30px;
  background-color: white; border-radius: 30px;
  display: flex; align-items: center;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 70%;
}

.searchInput:focus {
  outline: none;
}

/* Right */
.topbarRight {
  flex: 4;
  display: flex; align-items: center; justify-content: space-around;
  color: white;
}

.topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.topbarIcons {
  display: flex;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  /* topbarIconBadge will be positioned */
  position: relative;
}

.topbarIconBadge {
  position: absolute; top: -5px; right: -5px;
  width: 15px; height: 15px; font-size: 12px;
  background-color: red; border-radius: 50%; color: white;
  /* center the item */
  display: flex; align-items: center; justify-content: center;
}

.topbarImg { width: 32px; height: 32px; border-radius: 50%;
  object-fit: cover; cursor: pointer;}
